<h1>100 Starred Repos</h1>
<h5>Top contributer of each repo included</h5>

<h6>Display JSON here</h6>

  <% @repos.each do |r| %>
  <h2>name: <%= r['name'] %> </h2>
  <h3>stars: <%= r['stargazers_count'] %> <h3>

  <% end %>

<br>

<h5>Directions</h5>
Build a single page web app that uses the Github REST api
https://developer.github.com/v3/ to display a list of the 100 most starred Github repositories, as well as their top contributor.

<br>
