<h1>100 Starred Repos</h1>

  <% @repos.each_with_index do |r, i| %>
  <h2> <%= "#{i + 1}.  "%> Name: <%= r['name'] %> </h2>
  <h3>Stars: <%= r['stargazers_count'] %> <h3>



  <h3>Top Contributor: <%= r['contributors_url'] %> </h3>




  <span> _______________________________________________________________________________________________________________________________________________________________________________________________</span>
  <% end %>
